# ==========================================
# PLAYTUVE BACKEND - GITIGNORE
# ==========================================

# 1. Carpetas generadas por PyInstaller (Archivos de compilación)
build/
dist/
*.spec

# 2. Descargas y archivos temporales generados por el servidor
descargas/

# 3. Archivos Ejecutables y Binarios pesados
*.exe
playit.exe
ffmpeg.exe
ffprobe.exe
ffplay.exe

# 4. Empaquetados y carpetas de lanzamiento final
playtuve_server/
*.zip

# 5. Archivos de Configuración (¡Contienen tokens secretos!)
playtuve_config.json

# 6. Caché nativo de Python y Entornos Virtuales
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.env